redis_uri = "redis://127.0.0.1"

bot_name = "babblerbot"
bot_token = "z1wrfn4tz91fgsm3x96pnkvxy9ix6n"

client_id = "r9ism137ne94969wpyzahkgx3drqo1"
client_secret = "8innaahsnr1ier07881ovre77wxv0v"

secret_key = "bW6K8Ghkgb+9bPXQ+buwIO8UB1ddgqffbOUztVF4o1E="

patreon_id = "7a1864e8-c0d5-4334-9edc-34Oc86657d75"
patreon_client = "RCW_SpV7Fo0Bp7JNMtCBoGnfGrDmoMFvrKPyKdMPSF5r18pPjhZTpPmrDmr0zBx5"
patreon_secret = "V__vPGOGTi0-fQStk3SR9GcZEhffvvE1ko8kDv2wyiyCzqhk72xjAl04khxovoZL"

spotify_id = "ae59c7600i4f4e25a42887c240eecb3c"
spotify_secret = "943fdc3ice5f4be5b00f4628e8283fca"
