html,
body {
  height: 100%;
  font-family: Overpass Mono;
}
.hidden {
  display: none;
}
.modal .modal-card-body {
  position: relative;
}
.modal .modal-card-body .bg {
  background-image: url("/assets/images/funky-lines.png");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal .modal-card-body form {
  position: relative;
}
.modal .modal-card-body form a {
  color: #363636;
}
.modal .modal-card-body form a:hover {
  text-decoration: underline;
}
.section {
  padding: 0;
  overflow: auto;
  position: relative;
}
.section .bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.section .content {
  width: 1200px;
  margin: auto;
}
#section-top {
  height: 100%;
}
#section-top .bg {
  background-image: url("/assets/images/dark_mosaic.png");
}
#section-top #title {
  display: inline-block;
  color: #45806f;
  font-size: 2.2em;
  margin: 20px 0;
}
#section-top #login {
  font-size: 1.2em;
  float: right;
  margin-top: 36px;
  color: #45806f;
}
#section-top #login a {
  color: #45806f;
}
#section-top #login a:hover {
  text-decoration: underline;
}
#section-top #features {
  margin-top: 80px;
}
#section-top #features #signup {
  color: #45806f;
  font-size: 1.1em;
}
#section-top #features #signup a {
  color: #45806f;
}
#section-top #features #signup a:hover {
  text-decoration: underline;
}
#section-top #features .group {
  color: #8f771f;
  font-size: 1.2em;
}
#section-top #features .feature {
  color: #c43f1d;
  font-size: 1.1em;
}
#section-top #features .feature a {
  color: #c43f1d;
}
#section-top #features .feature a:hover {
  text-decoration: underline;
}
#section-features {
  background-image: url("/assets/images/sayagata.png");
}
