html {
  min-height: 100%;
  position: relative;
  font-family: Overpass Mono;
}
html.mosaic {
  background-image: url("/assets/images/dark_mosaic.png");
}
html.funky {
  background-image: url("/assets/images/funky-lines.png");
}
.hidden {
  display: none;
}
.modal .modal-card-body {
  position: relative;
}
.modal .modal-card-body .bg {
  background-image: url("/assets/images/funky-lines.png");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal .modal-card-body form {
  position: relative;
}
.modal .modal-card-body form a {
  color: #363636;
}
.modal .modal-card-body form a:hover {
  text-decoration: underline;
}
.section {
  padding: 0;
}
.section .content {
  width: 1200px;
  margin: auto;
}
#section-top #title {
  display: inline-block;
  color: #45806f;
  font-size: 2.2em;
  margin: 20px 0;
}
#section-top #login {
  font-size: 1.2em;
  float: right;
  margin-top: 36px;
  color: #45806f;
}
#section-top #login a {
  color: #45806f;
}
#section-top #login a:hover {
  text-decoration: underline;
}
#section-top #features {
  margin-top: 80px;
}
#section-top #features #signup {
  color: #45806f;
  font-size: 1.1em;
}
#section-top #features #signup a {
  color: #45806f;
}
#section-top #features #signup a:hover {
  text-decoration: underline;
}
#section-top #features .group {
  color: #8f771f;
  font-size: 1.2em;
}
#section-top #features .feature {
  color: #c43f1d;
  font-size: 1.1em;
}
#section-top #features .feature a {
  color: #c43f1d;
}
#section-top #features .feature a:hover {
  text-decoration: underline;
}
#navbar {
  width: 260px;
  background-image: url("/assets/images/dark_mosaic.png");
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
#navbar .pane {
  color: #f0efeb;
  float: right;
  text-align: right;
  margin-top: 20px;
  width: 200px;
  padding: 8px 14px;
  font-size: 1.5em;
}
#navbar .pane.active,
#navbar .pane:hover {
  cursor: pointer;
  background-color: #45806f;
}
#panes {
  margin-left: 260px;
  padding-left: 40px;
}
#panes .pane {
  display: none;
  margin-top: 30px;
}
#panes .pane.active {
  display: block;
}
#panes .pane .section {
  margin-bottom: 60px;
}
#panes .pane .section form {
  margin-bottom: 10px;
}
#panes .pane .section form .field .control {
  display: inline-block;
  width: 400px;
}
#panes .pane .section form .field .is-link {
  margin-left: 4px;
  opacity: 0.4;
  transition: background-color 200ms linear, opacity 200ms linear;
}
#panes .pane .section form .field .is-link.success {
  background-color: #22c65b;
  opacity: 1;
}
#panes .pane .section form .field .is-link:hover {
  opacity: 1;
}
#panes .pane .table .name {
  width: 175px;
}
#panes .pane .table .name .text {
  margin-top: 6px;
}
#panes .pane .table .content {
  width: 600px;
}
#panes .pane .table .actions {
  padding-left: 0;
}
#panes .pane .table .actions .icons {
  margin-top: 5px;
}
#panes .pane .table .actions .icons .icon {
  vertical-align: top;
}
#panes .pane .table .actions .icons .icon.save:hover {
  cursor: pointer;
  color: #22c65b;
}
#panes .pane .table .actions .icons .icon.trash:hover {
  cursor: pointer;
  color: #ff3860;
}
#panes .pane .table .actions .icons .icon.success {
  color: #22c65b;
}
#panes .pane .table#blacklist .regex {
  width: 600px;
}
#panes .pane .table#blacklist .length {
  width: 160px;
}
