orange = #C43F1D
black  = #1D1C1F
white  = #F0EFEB
gold   = #8F771F
teal   = #45806F

html
  min-height: 100%
  position: relative
  font-family: Overpass Mono
  &.mosaic
    background-image: url(/assets/images/dark_mosaic.png)
  &.funky
    background-image: url(/assets/images/funky-lines.png)

.hidden
  display: none

.modal
  .modal-card-body
    position: relative
    .bg
      background-image: url(/assets/images/funky-lines.png)
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
    form
      position: relative
      a
        color: #363636
        &:hover
          text-decoration: underline

.section
  padding: 0
  .content
    width: 1200px
    margin: auto

#section-top
  #title
    display: inline-block
    color: teal
    font-size: 2.2em
    margin: 20px 0
  #login
    font-size: 1.2em
    float: right
    margin-top: 36px
    color: teal
    a
      color: teal
      &:hover
        text-decoration: underline
  #features
    margin-top: 80px
    #signup
      color: teal
      font-size: 1.1em
      a
        color: teal
        &:hover
          text-decoration: underline
    .group
      color: gold
      font-size: 1.2em
    .feature
      color: orange
      font-size: 1.1em
      a
        color: orange
        &:hover
          text-decoration: underline

#navbar
  width: 260px
  background-image: url(/assets/images/dark_mosaic.png)
  position: absolute
  top: 0
  bottom: 0
  left: 0
  .pane
    color: white
    float: right
    text-align: right;
    margin-top: 20px;
    width: 200px;
    padding: 8px 14px;
    font-size: 1.5em;
    &.active, &:hover
      cursor: pointer
      background-color: teal

#panes
  margin-left: 260px
  padding-left: 40px
  .pane
    display: none
    margin-top: 30px
    &.active
      display: block
    .section
      margin-bottom: 60px
      form
        margin-bottom: 10px
        .field
          .control
            display: inline-block
            width: 400px
          .is-link
            margin-left: 4px
            opacity: 0.4
            transition: background-color 200ms linear, opacity 200ms linear;
            &.success
              background-color: #22c65b
              opacity: 1
            &:hover
              opacity: 1
    .table
      .name
        width: 175px
        .text
          margin-top: 6px
      .content
        width: 600px
      .actions
        padding-left: 0
        .icons
          margin-top: 5px
          .icon
            vertical-align: top
            &.save
              &:hover
                cursor: pointer
                color: #22c65b
            &.trash
              &:hover
                cursor: pointer
                color: #ff3860
            &.success
              color: #22c65b
      &#blacklist
        .regex
          width: 600px
        .length
          width: 160px
