orange = #C43F1D
black  = #1D1C1F
white  = #F0EFEB
gold   = #8F771F
teal   = #45806F

html, body
  height: 100%

.section
  padding: 0
  overflow: auto
  .content
    width: 1200px
    margin: auto

#section-top
  background-image: url(/assets/images/dark_mosaic.png)
  height: 100%

#section-features
  background-image: url(/assets/images/sayagata.png)

#title
  font-family: Overpass Mono
  color: teal
  font-size: 2em
  margin: 20px 0
