<!DOCTYPE html>
<html class='{% block htmlClass %}{% endblock htmlClass %}'>
<head>
  <link rel='shortcut icon' href='/assets/images/favicon.ico'>
  <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css'>
  <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu|Overpass+Mono'>
  <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/balloon-css/0.5.0/balloon.min.css'>
  <link rel='stylesheet' type='text/css' href='https://use.fontawesome.com/releases/v5.8.1/css/all.css'>
  <link rel='stylesheet' type='text/css' href='/assets/css/master.css'>
  <link rel='stylesheet' type='text/css' href='/assets/css/animate.css'>
  <script type='text/javascript' src='/assets/js/umbrella.min.js'></script>
  <script type='text/javascript' src='/assets/js/underscore.min.js'></script>
  <title></title>
</head>
<body>
    {%- block body %}{% endblock body -%}
</body>
</html>
