{% extends "common/base" %}
{%- block htmlClass %}funky{%- endblock htmlClass %}

{%- block body %}
<div id="navbar">
</div><div id="panes">
</div><script type='text/javascript'>
  u.ready = function (fn) { document.readyState !== 'loading'? fn(): u(document).on('DOMContentLoaded', fn) }
  u.ready(function(){ u('.section .content').removeClass('hidden') })
</script>
{%- endblock body %}
